@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .Reg {
        display: none;
    }
    .logo {
        font-size: 1.5em; 
    }
    .info {
        max-width: 90%;
    }
    nav {
        justify-content: space-around;
        padding: 0; 
    }
}